html{
    font-size: 10px;
}

.static{
    height: 10rem;
    width: 10rem;
    background-color: rgb(0, 255, 64);
}
.relative{
    position: relative; 
    height: 10rem;
    width: 10rem;
    top: 2.5rem;
    left: 2.5rem;
    background-color: aqua;
} 

.parent{
    position: relative;
    width: 20rem;
    height: 20rem;
    background-color: blueviolet;
    top: 10rem;
    left: 10rem;
}

.absolute{
    position: absolute;
    height: 10rem;
    width: 10rem;
    right: 0;
    background-color: rgb(255, 217, 0);
}

.fixed{
    position: fixed; /*relative to viewport*/
    height: 10rem;
    width: 10rem;
    background-color: blue;
    top:50%;
    transform: translateY(-50%);
    right: 0;
}

.sticky{
    position: sticky;
    height: 10rem;
    width: 10rem;
    top: 0;
    background-color: aquamarine;
}

.text{
    width: 70px;
    height: 50px;
}

/* div{
    position: static; /*nothing happen
    height: 10rem;
    width: 10rem;
    background-color: aqua;
} */