body{
    padding: 180px;
    color: #fff;
    background-color: rgb(89, 186, 115);
}

.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    font-size: 20px;
}

.weather-icon{
    font-size: 60px;
}