html{
    font-size: 10px;
}

body{
    margin: 0;
}

.absolute{
    position: absolute;
    height: 10rem;
    width: 10rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: brown;
}